<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.0.xsd">

<!-- <import resource="DaoHdsSpringContext.xml"/> -->
	<import resource="classpath:DaoHibernateSpringContext.xml"/>
	
	<import resource="classpath:LoggingSpringContext.xml"/>
	
	<bean name="abstract_ctrl" class="com.noelmace.gestionclient.spring.mvc.ctrl.AbstractCtrl" abstract="true">
			<property name="clientService" ref="clientService"></property>
			<property name="orderingService" ref="orderingService"></property>
	</bean>
	
	<bean name="/list_clients.do" class="com.noelmace.gestionclient.spring.mvc.ctrl.ListClientsCtrl" parent="abstract_ctrl">
	</bean>
	
	<bean name="/create_client.do" class="com.noelmace.gestionclient.spring.mvc.ctrl.CreateClientCtrl" parent="abstract_ctrl">
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	    <property name="prefix" value="/jsp/"/>
	    <property name="suffix" value=".jsp"/>
	</bean>

</beans>