<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Mapping par XML -->
		<!--
		<mapping
			resource="com/noelmace/gestionclient/nospring/hibernate/maps/Client.hbm.xml" />
		<mapping
			resource="com/noelmace/gestionclient/nospring/hibernate/maps/BonDeCommande.hbm.xml" />
		-->
		<!-- Mapping par annotations -->
		<mapping class="com.noelmace.gestionclient.nospring.business.entities.Client"/>
		<mapping class="com.noelmace.gestionclient.nospring.business.entities.BonDeCommande"/>
		
	</session-factory>
</hibernate-configuration>
